<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="MyApp" ng-controller="todoCtrl">
    <form ng-submit="todoApp()">
<input type="text" placeholder="Add New" ng-model="todoInput">
<input type="submit" value="add new">
</form>

<div ng-repeat="x in todoList">
<input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>
<button ng-click="remove()">
Remove
</button>
<script type="text/javascript" src="cordova.js"></script>
<script>
    // GLOBAL JS
    var app = angular.module('MyApp',[]);


// CONTROLLER JS
app.controller('todoCtrl',function($scope){
$scope.todoList = [{todoText:'Water the Garden',done:false}];

$scope.todoApp = function(){
$scope.todoList.push({todoText:$scope.todoInput,done:false});
$scope.todoInput ="";
};

 $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x);
        });
    };
});
</script>
</body>
</html>